<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Hogwarts Students</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>
<table class="table table-bordered bg-light">
    <tr th:class="header">
        <th>id</th>
        <th>name</th>
        <th>date of birth</th>
        <th>email</th>
        <th>phone</th>
    </tr>
    <tr th:each="teacher : ${teachers}">
        <td th:text="${teacher.getId()}"></td>
        <td th:text="${teacher.getName()}"></td>
        <td th:text="${teacher.getDateOfBirth()}"></td>
        <td th:text="${teacher.getPhone()}"></td>
    </tr>
</table>
</body>